extends layout

block content
  -var prettyDate = function(dateString, count, time){
  - if(seperate(count, time)){
  -  var date = new Date(dateString*1000);
  -  var localeSpecificTime = date.toLocaleTimeString();
  -  return localeSpecificTime.replace(/:\d+ /, ' ');
  - }
  -}
  -var prettyDateFull = function(dateString){
  -  var date = new Date(dateString*1000);
  -  return date;
  -}
  -var seperate = function(count, times){
  - var countTo = Math.floor((times.length)/(times.length/2))
  - if(count%countTo==0){return true}else{ return false}
  -}
  script.
    var saveCloud = function(){
      $.get("/saveCloud",
        function(data) {
          if(data.error){
            $.notify("Cannot save to the cloud!", "error");
          }else{
            $.notify("Saved recordings to the cloud!", "success");
          }
      });
    }
  .container
    form(action="." method="POST")
      .form-group
        label(for='soak-log') Soak Log:
        input#soak-log.form-control(name='soakLog', type='text', placeholder='Default input')
        small#emailHelp.form-text.text-muted URL from the soak-log test report.
      button.btn.btn-primary(type='submit', value='Submit') Submit
  if typeof time != "undefined"
    if typeof time.times != "undefined"
      .container
        .mt-2.col-md-12
          .table-responsive
            table(style={'border-collapse': 'collapse'}).table#pickle.table.table-hover.table-striped.table-bordered
                thead
                  tr
                    th(scope='col') Service
                    if typeof time != "undefined"
                      -var count=0
                      each time_block in time.times
                        th(scope='col') #{prettyDate(time_block, count, time.times)}
                        -count++
                    else
                      th(scope='col') Events
                tbody
                  if typeof time != "undefined"
                    each time_block in time
                      tr
                        td= time_block.channel
                        each event in time_block.events
                          if event != ''
                            if event.acquired
                              td(style={color: 'green', 'border-right-style': 'none'})= event.descriptions[0].title
                            else if event.failed
                              td(style={color: 'red', 'border-right-style': 'none'})= event.descriptions[0].title
                            else
                              td(style={'border-right-style': 'none'})= event.descriptions[0].title
                          else
                            td(style={'border-right-style': 'none', 'border-left-style': 'none'})= ' '
      .container
        .mt-2.col-md-12
          .card
            .card-body
              if soak.soak_run
                .led-box
                  .led-green
                  p Soak finished!
              else
                .led-box
                  .led-red
                  p Soak Running...
              h5.card-title Blocks In DVR Soak Run
              if soak!= null
                ul(class="list-group")
                  each block in soak.blocks
                    li(class="list-group-item")= block.__enum__
      em
      .container
        .text-center
            .form-group
              a.btn.btn-primary.btn-lg.active(href='/editor', role='button', aria-pressed='true') Editor
            .form-group
              if typeof time != "undefined"
                a.btn.btn-secondary.btn-lg.active(onclick="saveCloud()", role='button', aria-pressed='true') Save To Cloud

        em
      if typeof time != "undefined"
        .container
          form(action="/shortenTimes" method="POST")
            .form-group
              label(for='exampleFormControlSelect1') Start Time
              select#startTime.form-control(name="startTime")
                  each time_block in time.times
                    option(value=time_block) #{prettyDateFull(time_block)}
            .form-group
              label(for='exampleFormControlSelect1') End Time
              select#endTime.form-control(name="endTime")
                each time_block in time.times
                  option(value=time_block) #{prettyDateFull(time_block)}
            small#emailHelp.form-text.text-muted Shorten dvr-soak run times.
            button.btn.btn-primary(type='submit', value='Submit') Shorten Run Times
